<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx         http://www.springframework.org/schema/tx/spring-tx.xsd
">
    
    <context:property-placeholder location="classpath:application.properties"/>
    
    <tx:annotation-driven/>
    
    <context:component-scan base-package="com.andmin.dirble" />
    
    <bean id="getAllCategoriesURL" class="java.lang.String">
        <constructor-arg value="http://api.dirble.com/v2/categories?token=${dirble.apiKey}"/>
    </bean>
    
    <bean id="getAllCountriesURL" class="java.lang.String">
        <constructor-arg value="http://api.dirble.com/v2/countries?token=${dirble.apiKey}"/>
    </bean>
    
    <bean id="getStationsURL" class="java.lang.String">
        <constructor-arg value="http://api.dirble.com/v2/stations?token=${dirble.apiKey}&amp;per_page=30"/>
    </bean>
    
    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
    
    <bean id="sessionFactory"  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.andmin.dirble.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
            </props>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref ="sessionFactory" />
    </bean>
    
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref ="sessionFactory" />
    </bean>

</beans>